.drawer {
    background-color: burlywood;
}

@media (min-width: 992px) {
    .menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .site-layout {
        margin-left: 200px;
    }
}

@media (max-width: 992px) {
    .drawer {
        display: none;
    }
}

.ant-drawer-body{
    padding: 0;
}